body {
    font-family: 'Anton', sans-serif;
    background-color: yellow;
}

#maincontent {
    text-align: center;
    padding: 0px 120px 0px 120px;
}

.heading {
    color: orangered;
}

.images {
    height: 250px;
    width: 500px;
}

.dollar {
    position: fixed;
    bottom: 0;
    font-family: 'Anton', sans-serif;
    font-size: 300px;
    line-height: 300px;
    text-align: right;
    color: green;
    z-index: 1;
}

.left {
    left: 0;
    padding-right: 50px;
}

.right {
    right: 0;
    padding-left: 50px;
}

@media screen and (max-width: 900px) {
    #maincontent {
        text-align: center;
        padding: 0px 80px 0px 80px;
    }
    .images {
        height: 150px;
        width: 300px;
    }
    .dollar {
        font-size: 150px;
        line-height: 150px;
    }
}

@media screen and (max-width: 600px) {
    #maincontent {
        text-align: center;
        padding: 0px 50px 0px 50px;
    }
    .dollar {
        font-size: 80px;
        line-height: 80px;
    }
}